{{ "---" }}
hostname: "{{ inventory_hostname }}"
store_num: "{{ storenum }}"
masterip: "{{ master }}"
location_type: "{{ location }}"
default_gateway: "{{ gateway }}"
airwave_ip: "{{ airwave }}"
{{ _raw_params }}